body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #e8f5e1;
    color: #2e4a24;
}

header {
    background: linear-gradient(135deg, #6fbf73, #4a8c52);
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.contenedor {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background: white;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.rojo {
    background: #ffb3b3;
    border-left: 10px solid #ff4d4d;
}

.amarillo {
    background: #fff4b3;
    border-left: 10px solid #e6c200;
}

.verde {
    background: #c9f7c2;
    border-left: 10px solid #48a34c;
}

.datos p {
    font-size: 1.2rem;
    margin: 15px 0;
}

.datos span {
    font-weight: bold;
}


.mensaje-alerta {
    color: #c62828;
}

.mensaje-bien {
    color: #2e7d32;
}
